{% extends "base.html" %}

{% block title %}
    <title>App Name | Home Page</title>
{% endblock %}

{% block content %}
<div class="card-body">
                <h5 class="card-title">Portal for Course Outcome Attainments</h5>

                <div class="container my-4 ">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              FAQ #1
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non rerum magni eveniet, facilis cum distinctio quasi maxime soluta, id saepe, quibusdam incidunt error nesciunt labore voluptas tenetur animi corrupti? Perspiciatis?</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              FAQ #2
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, provident minima. Est placeat impedit fugiat cum non accusantium, iste deserunt nihil autem suscipit, molestiae, repudiandae labore vero quibusdam perspiciatis magnam.</div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
{% endblock %}